<nav class="navbar navbar-expand-lg">
    <div class="bgColor"></div>
        <div id="v" class="overBg">
            <div id="vl"></div>
            <div id="vr"></div>
        </div>
        <a class="navbar-brand overBg"><strong>VAULT</strong> CORP <span style="font-size: 10pt; display: block;">Segurança em
                nuvem</span></a>

        <ul class="navbar-nav justify-content-end overBg" id="pageRoutes">
            <li class="nav-item active">
                <a class="nav-link">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">PORTIFÓLIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">SOBRE</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-light ml-3">CONTATO</button>
            </li>
        </ul>
</nav>