app-nav{
    position: relative;
    width: 100%;
}
.main-content{
    background-color: transparent;
    /* background-color: #ffffff; */
}
.targe-portfolio{
    position: absolute;
    margin-top: -2.5%;
    background-color: #1a1a1a;
    -webkit-clip-path: polygon(0 15.15%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 15.15%, 100% 0%, 100% 100%, 0% 100%);
    height: 33%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 5%;
    top: 80%;
    opacity: .8;
    /* right is 5% more then left */
}
#carousel{
    float: right;
    /* background-color: turquoise; */
    -webkit-clip-path: polygon(0 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 100%);
}
